{% block content %}


<hr>
<p>News comments: </p>
<div>
    {% if user.is_active %}
    <form action="" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" class="btn btn-primary btn" value="Add comment"/>
    </form>
    {% else %}
    <small><a href="{% url 'login' %}"> Login </a> to leave a comment</small>
    {% endif %}
    </hr>

    {% for comment in comments %}
    <p>Comment: {{comment.text}}</p>
    <p1>User: {{comment.user}} |</p1>
    <p2>Date: {{comment.time_create|date:"d-m-Y"}}</p2><br><br>
    {% endfor %}


</div>

{% endblock %}