{% block content %}

<form action="{% url 'like_news' news.pk %}" method="POST">
  {% csrf_token %}

  {% if user.is_authenticated %}
  {% if liked %}
  <button type="submit" name="news_id" value="{{ news.id}}"
          class="btn btn-danger btn-sm">Dislike</button>
  {% else %}
  <button type="submit" name="news_id" value="{{ news.id}}"
          class="btn btn-primary btn-sm">Like</button>
  {% endif %}
  {% else %}
  <small><a href="{% url 'login' %}"> Login </a> to like</small>
  {% endif %}

  - {{ get_total_likes }} Likes ||   {{  comments.count }} - Comments

</form>

{% endblock content %}

