{% extends 'news/base.html' %}

{% block content %}


<h1>{{title}}</h1>
<ul class="list-articles">
    {% for a_news in news %}
        <li><div class="article-panel">
    <p class="first">Category: {{a_news.category}}</p>
    <p class="last">Date: {{a_news.time_update|date:"d-m-Y H:i:s"}}</p>
</div>

    {% if a_news.photo %}
    <p><img class="img-article-left" src="{{a_news.photo.url}}"></p>
    {%endif%}

    <li><h2>{{a_news.title}}</h2>
    <p>{{a_news.content | slice:300}}</p>

        <p class="link-read-post"><a href="{% url 'news_detail' a_news.slug %}">Read more</a></p>
    <div>
        {% include 'likes/add_like_news.html' with news_id=object.id %}
    </div>
    <div>
        <a href="{{ object.get_absolute_url }}#comments"> comments</a>
    </div>

<!--    <div class="clear"></div>-->
    </li>

    {% endfor %}
</ul>
{% endblock %}

