{% extends 'news/base.html' %}

{% block content %}
<h1>Confirm your email</h1>
    <div class="content text">

        <h4>We have sent an email with a confirmation link to your email address. <br>

            In order to complete the sign-up process, please click the confirmation link.<br>

            If you do not receive a confirmation email, please check your spam folder.<br>

            Also, please verify that you entered a valid email address in our sign-up form.<br>

            If you need assistance, please contact us.</h4>
    </div>
{% endblock %}